<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lrh.article.infrastructure.database.mapper.ArticleMapper">


    <!-- 查询语句 -->
    <select id="selectPageArticle" resultType="com.lrh.article.infrastructure.po.ArticlePO">
        SELECT
        *
        FROM
        t_article
        WHERE
        is_deleted = 0
        <if test="query.articleTitle != null and query.articleTitle.trim() != ''">
            AND article_title LIKE CONCAT('%', #{query.articleTitle}, '%')
        </if>
        <if test="query.articleContent != null and query.articleContent.trim() != ''">
            AND article_content LIKE CONCAT('%', #{query.articleContent}, '%')
        </if>
        ORDER BY
        update_time DESC
        LIMIT #{offset}, #{limit}
    </select>


    <!-- 查询符合条件的条数 -->
    <select id="selectCountPage" parameterType="map" resultType="java.lang.Long">
        SELECT
        COUNT(*)
        FROM
        t_article
        WHERE
        is_deleted = 0
        <if test="query.articleTitle != null and query.articleTitle.trim() != ''">
            AND article_title LIKE CONCAT('%', #{query.articleTitle}, '%')
        </if>
        <if test="query.articleContent != null and query.articleContent.trim() != ''">
            AND article_content LIKE CONCAT('%', #{query.articleContent}, '%')
        </if>
    </select>

    <!-- 查询符合条件的条数 -->
    <select id="selectUserCountPage" parameterType="map" resultType="java.lang.Long">
        SELECT
        COUNT(*)
        FROM
        t_article
        WHERE
        is_deleted = 0
        <if test="query.articleTitle != null and query.articleTitle.trim() != ''">
            AND article_title LIKE CONCAT('%', #{query.articleTitle}, '%')
        </if>
        <if test="query.articleContent != null and query.articleContent.trim() != ''">
            AND article_content LIKE CONCAT('%', #{query.articleContent}, '%')
        </if>
    </select>

    <!-- 查询语句 -->
    <select id="selectUserPageArticle" resultType="com.lrh.article.infrastructure.po.ArticlePO">
        SELECT
        *
        FROM
        t_article
        WHERE
        is_deleted = 0
        <if test="query.articleTitle != null and query.articleTitle.trim() != ''">
            AND article_title LIKE CONCAT('%', #{query.articleTitle}, '%')
        </if>
        <if test="query.articleContent != null and query.articleContent.trim() != ''">
            AND article_content LIKE CONCAT('%', #{query.articleContent}, '%')
        </if>
        ORDER BY
        update_time DESC
        LIMIT #{offset}, #{limit}
    </select>

    <update id="batchUpdateMetrics">
        UPDATE t_article
        <trim prefix="SET" suffixOverrides=",">
            <trim prefix="like_count = CASE" suffix="END,">
                <foreach collection="list" item="item">
                    WHEN article_id = #{item.articleId} THEN #{item.likeCount}
                </foreach>
            </trim>
            <trim prefix="view_count = CASE" suffix="END,">
                <foreach collection="list" item="item">
                    WHEN article_id = #{item.articleId} THEN #{item.viewCount}
                </foreach>
            </trim>
        </trim>
        WHERE article_id IN
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item.articleId}
        </foreach>
        AND is_deleted = 0
    </update>


    <!-- 查询语句 -->
    <select id="selectPageArticleAll" resultType="com.lrh.article.infrastructure.po.ArticlePO">
        SELECT *
        FROM t_article
        <where>
            <if test="query.isDeleted != null">
                AND is_deleted = #{query.isDeleted}
            </if>
            <!-- 只有当status参数存在时才添加状态条件 -->
            <if test="query.status != null and query.status.trim() != ''">
                AND status = #{query.status}
            </if>
            <!-- 其他查询条件 -->
            <if test="query.articleTitle != null and query.articleTitle.trim() != ''">
                AND article_title LIKE CONCAT('%', #{query.articleTitle}, '%')
            </if>
            <if test="query.articleContent != null and query.articleContent.trim() != ''">
                AND article_content LIKE CONCAT('%', #{query.articleContent}, '%')
            </if>
        </where>
        ORDER BY
        update_time DESC
        LIMIT #{offset}, #{limit}
    </select>

    <!-- 查询符合条件的条数 -->
    <select id="selectCountPageAll" parameterType="map" resultType="java.lang.Long">
        SELECT
        COUNT(*)
        FROM t_article
        <where>
            <if test="query.isDeleted != null">
                AND is_deleted = #{query.isDeleted}
            </if>
            <!-- 只有当status参数存在时才添加状态条件 -->
            <if test="query.status != null and query.status.trim() != ''">
                AND status = #{query.status}
            </if>
            <!-- 其他查询条件 -->
            <if test="query.articleTitle != null and query.articleTitle.trim() != ''">
                AND article_title LIKE CONCAT('%', #{query.articleTitle}, '%')
            </if>
            <if test="query.articleContent != null and query.articleContent.trim() != ''">
                AND article_content LIKE CONCAT('%', #{query.articleContent}, '%')
            </if>
        </where>
    </select>


</mapper>